#user {
    float: right;
    border: 1px solid;;
    width: 20%;
    height: 30%;
    text-align: center;
    margin: 0, auto;
    margin-top: 15%;
    background: #00000080;
    padding: 20px;
}
#user h1 {
    color: white;
}

#user .form .item input {
    width: 200px;
    border: 0; 
    border-bottom: 5px solid white; 
    font-size: 18px; 
    background: white; 
    padding: 5px 10px; 
}
#user .form .item i {
    color: white;
    font-size: 50px;
}
#user button {
    border: 0;
    width: 150px;
    height: 30px;
    margin-top: 18px; 
    font-size: 18px; 
    color: white;
    border-radius: 25px; 
   
}

body {
    background: url("/User_OpMo.jpg") center;
    background-size: cover ;
    background-repeat: no-repeat;
}
a {
    transition: background-color 0.5s;
  }
  
  a:hover {
    background-color: white;
  }